    <div class="vh-100 bg-home">
        <%- include('../Partials/Header')%>

        <div class="bg-layer ">
            
            <div class="content p-1">
                <div>
                <h1 class="text-center text-white">Unlimited movies, <br> TV shows and more</h1>
                <p class="text-center text-white">Starts at ₹149. Cancel anytime.</p>
                <h6 class="text-center text-white mt-2">Ready to watch? Enter your email to create or restart your membership.</h6>
                <div class="d-flex justify-content-center mt-5">
                    <input type="text" class="me-2">
                    <div>
                        <a class="btn  btn-sign fs-4 fw-semibold" href="">Get Started </a>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


    <%- include('../Partials/Footer')%>